


body {
	background:#e9e0cd url(../img/callot.jpg) top center no-repeat;  /* #e9e0cd */
	color: white;	
}


h1 {	/* app title */
	font-size: 5em;
	margin-top:20px;
	margin-right: 20px;
	margin-bottom: 5px;
}

h3 { 	/* app sub-title */
	margin-top: 12px;
	font-size: 1.5em;
}

header {
	position: relative;
	max-width: 1360px;

	text-shadow: 3px 3px 12px #000;
    filter: dropshadow(color=#000, offx=3, offy=3);
}


#appTitle {
	position: absolute;
	top: 0;
	right: 0;
}

#text {
	padding: 20px;
	color: #1C2B56;
	font-size:20px;
}


.pane {				/* announcements, the menu, the stage, and gameStatus */
	-webkit-border-radius: 12px;
    border-radius: 12px;

    -webkit-box-shadow:  3px 3px 12px 3px rgba(0, 0, 0, .3);
    box-shadow:  3px 3px 12px 3px rgba(0, 0, 0, .3);

    background-color:rgba(255,255,255,0.8);

    font-family: Tahoma, Verdana, Segoe, sans-serif;
}


.leftPane {			/* announcements and the menu */
	left:30px;
	padding: 12px;
	max-width: 200px;
}


#announcements {
	position: relative;
	top: 42px;
}

	#statusMsg {
		color: #1c2b56;
		text-align: center;
	}

	#rollup {
		font-size:12px;
		color: #524b65;
		margin-top:10px;
		text-align: center;
		min-height: 40px;
	}



#menu {
	position: relative;
	margin-top: 50px;

	text-align: center;
	font-family: Tahoma, Verdana, Segoe, sans-serif;

	color: black;
}

	#menu-listings {
		color: black;
		text-align: left;   
	}


.center { text-align: center; }

#gameStatus {
	position: fixed;
	padding: 10px;
	color: black;
	top: 180px;	
	right: 20px;
	width: 255px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;

	display: none;
}

	#round {
		color: #1c2b56;
		font-size: 12px;
		}

	#theWord {
		color: #2e3d66;
		font-size: 18px;
		font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
		margin-top:10px;
		margin-bottom:10px;
		}
	#misc {
		color: #1c2b56;		
		font-size: 14px;
		margin-top:20px;
		min-height:35px;
	}
	#theGuess { 
		font-size:22px;
		color: #655886;
	}
	#button1 {
		margin-top: 20px;
		color: #1c2b56;
		margin-left:80px;
	}





#stage {
	/* background: url(img/backdrop3.png) top center no-repeat !important; */
	position: absolute;

	left: 350px;
	/* didnt work margin: 0 auto; */
	top: 180px;

	width: 500px;
	height: 500px;
}



/***********      Hangman stage parts  ***/
.frame {
	position: absolute;
		background-color: #9f7506;
}

#base {
	left: 115px;
	top: 455px;
	width: 360px;
	height: 14px;
	visibility: hidden;
	background-color: #9f7506;  /* for debug */
}

#pole {
	left: 440px;
	top: 25px;
	width: 14px;
	height: 430px;
	visibility: hidden;	
}

#top {
	left: 260px;
	top: 25px;
	width: 190px;
	height: 14px;
	visibility: hidden;	
}

#noose {
	left: 270px;
	top: 32px;
	width: 10px;
	height: 65px;
	visibility: hidden;

}

#head {
	left: 230px;
	top: 90px;
	width: 75px;
	height: 70px;
	visibility: hidden;

	-moz-transform: scale(1) rotate(2deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		-webkit-transform: scale(1) rotate(2deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(2deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(2deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(2deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

#body {
	left: 200px;
	top: 160px;
	width: 125px;
	height: 170px;
	visibility: hidden;

}

#r-arm {
	left: 60px;
	top: 160px;
	width: 140px;
	height: 40px;
	visibility: hidden;

	-moz-transform: scale(1) rotate(7deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		-webkit-transform: scale(1) rotate(7deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(7deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(7deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(7deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

#l-arm {
	left: 325px;
	top: 160px;
	width: 140px;
	height: 40px;
	visibility: hidden;

-moz-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		-webkit-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

#r-leg {
	left: 175px;
	top: 330px;
	width: 75px;
	height: 110px;
	visibility: hidden;

	-moz-transform: scale(1) rotate(17deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		-webkit-transform: scale(1) rotate(17deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(17deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(17deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(17deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

#l-leg {
	left: 275px;
	top: 330px;
	width: 75px;
	height: 110px;
	visibility: hidden;

	-moz-transform: scale(1) rotate(-11deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		-webkit-transform: scale(1) rotate(-11deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(-11deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(-11deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(-11deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

/***************** end Hangman stage parts **/




/*
 * Menu links
 */

ul {
	color: #C4AC78;
	list-style: none;
	padding-left: 15px;
}

li {
	font-size: 16px;
}
li :link { color:#2e3d66; text-decoration:none; } 	/*  #7890C4 */
li :hover { color:#978a43; background-color:#E9E0CD;}	/*  #C4AC78; */
li :visited { color:#2e3d66; }
li :active { color: #E9CDE4;  }