/* sketchpad mini-project - Afshin Mokhtari */

a:link {color:#fff;}      /* unvisited link */
a:visited {color:#fff;}  /* visited link */
a:hover {color:#d74b4b;}  /* mouse over link */
a:active {color:#fff;}  /* selected link */


header {
	background-color: #475f77;
	color: #dcddd8;
	text-align: center;

	-webkit-border-radius: 32px 32px 32px 32px;
    border-radius: 32px 32px 32px 32px;
}


body {
	background-color: #DCDDD8;
}

#container {
	width: 960px;
	margin: auto;
}

.box {
	background-color: #354b5e;
    float: left;
}



.simpleColor {
	background-color: #d74b4b;
}


/*I am not a css wiz, but http://css3generator.com/ is! */
.rotate15 {
		-moz-transform: scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		-webkit-transform: scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}